{% extends "bookmark/base.html" %}
{% load widget_tweaks %}
{% block content %}
       <div class="flex flex-col lg:flex-row gap-4">
              <div class="w-full lg:w-1/4 mx-auto flex flex-col gap-4">
                     <form method="post" class="flex flex-col gap-4">
                            {% csrf_token %}
                            <label for="{{ form.url.id_for_label }}"
                                   class="block text-sm font-medium text-gray-900 dark:text-white">
                                   {{ form.url.label }}
                            </label>
                            {% render_field form.url class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            <label for="{{ form.title.id_for_label }}"
                                   class="block text-sm font-medium text-gray-900 dark:text-white">
                                   {{ form.title.label }}
                            </label>
                            {% render_field form.title class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            <label for="{{ form.folder.id_for_label }}"
                                   class="block text-sm font-medium text-gray-900 dark:text-white">
                                   {{ form.folder.label }}
                            </label>
                            {% render_field form.folder class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            {% render_field form.new_folder class="mt-4 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            <label for="{{ form.category.id_for_label }}"
                                   class="block text-sm font-medium text-gray-900 dark:text-white">
                                   {{ form.category.label }}
                            </label>
                            {% render_field form.category class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            {% render_field form.new_category class="mt-4 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            <label for="{{ form.tags.id_for_label }}"
                                   class="block text-sm font-medium text-gray-900 dark:text-white">
                                   {{ form.tags.label }}
                            </label>
                            {% render_field form.tags class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            {% render_field form.new_tags class="mt-4 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                            <button type="submit"
                                    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-blue-600 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-blue-500">
                                   登録
                            </button>
                     </form>
              </div>
       </div>
{% endblock content %}
{% block pagination %}
{% endblock pagination %}
