{% extends "bookmark/base.html" %}
{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
        rel="stylesheet" />
{% endblock head %}
{% block content %}
  {{ block.super }}
  <table id="filter-table">
    <thead>
      <tr>
        <th>
          <span class="flex items-center">
            Title
            <svg class="w-4 h-4 ms-1"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4" />
            </svg>
          </span>
        </th>
        <th>
          <span class="flex items-center">
            Folder
            <svg class="w-4 h-4 ms-1"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4" />
            </svg>
          </span>
        </th>
        <th>
          <span class="flex items-center">
            Category
            <svg class="w-4 h-4 ms-1"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4" />
            </svg>
          </span>
        </th>
        <th>
          <span class="flex items-center">
            URL
            <svg class="w-4 h-4 ms-1"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4" />
            </svg>
          </span>
        </th>
        <th>
          <span class="flex items-center">
            Edit
            <svg class="w-4 h-4 ms-1"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4" />
            </svg>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr class="hover:bg-pink-50 hover:bg-opacity-60">
          <th class="font-medium text-gray-900 dark:text-white">
            <a href="{{ item.url }}" class="block" target="_blank">{{ item.title }}</a>
          </th>
          <td>{{ item.folder }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.url }}</td>
          <td>
            <a href="{% url 'bookmark:edit' item.id %}">
              <svg xmlns="http://www.w3.org/2000/svg"
                   height="24px"
                   viewBox="0 -960 960 960"
                   width="24px"
                   fill="#5f6368">
                <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
              </svg>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
  <script>
if (document.getElementById("filter-table") && typeof simpleDatatables.DataTable !== 'undefined') {
  const dataTable = new simpleDatatables.DataTable("#filter-table", {
      tableRender: (_data, table, type) => {
          if (type === "print") {
              return table
          }
          const tHead = table.childNodes[0]
          const filterHeaders = {
              nodeName: "TR",
              attributes: {
                  class: "search-filtering-row"
              },
              childNodes: tHead.childNodes[0].childNodes.map(
                  (_th, index) => ({nodeName: "TH",
                      childNodes: [
                          {
                              nodeName: "INPUT",
                              attributes: {
                                  class: "datatable-input",
                                  type: "search",
                                  "data-columns": "[" + index + "]"
                              }
                          }
                      ]})
              )
          }
          tHead.childNodes.push(filterHeaders)
          return table
      }
  });
}

  </script>
{% endblock script %}
