{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% if DEBUG %}
      <script src="https://cdn.tailwindcss.com"></script>
    {% else %}
      <link href="{% static 'dist/tailwind.min.css' %}" rel="stylesheet" />
    {% endif %}
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    {% block head %}
    {% endblock head %}
    <title>
      {% block title %}
        myApp
      {% endblock title %}
    </title>
  </head>
  <body class="mx-auto flex min-h-screen flex-col justify-between dark:bg-gray-900">
    {% block navbar %}
      {% include "includes/navbar.html" %}
    {% endblock navbar %}
    {% block sidebar %}
    {% endblock sidebar %}
    {% block container %}
      <div class="grow">
        {% block content %}
        {% endblock content %}
      </div>
    {% endblock container %}
    {% block script %}
    {% endblock script %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
