<div class="block max-w-sm xl:max-w-md mx-auto rounded-lg bg-white ring-1 ring-slate-900/5 shadow-lg hover:bg-yellow-50 hover:ring-yellow-200 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:hover:ring-gray-600">
  <a href="{% url 'catalog:detail_item' str=item.serial_no %}?page={{ page_obj.number }}">
    <div class="relative">
      <img class="rounded-t-lg" src="/media/{{ item.cover }}" alt="" />
      {% if item.quality == "4k" %}
        <span class="absolute top-2 left-2 inline-flex items-center gap-x-1.5 py-1 px-3 rounded-full text-xs font-bold shadow bg-sky-400 ring-1 ring-white opacity-90 text-white">4K</span>
      {% elif item.quality == "high" %}
        <span class="absolute top-2 left-2 inline-flex items-center gap-x-1.5 py-1 px-3 rounded-full text-xs font-bold bg-green-400 ring-1 ring-white opacity-90 text-white">高画質</span>
      {% elif item.quality == "low" %}
        <span class="absolute top-2 left-2 inline-flex items-center gap-x-1.5 py-1 px-3 rounded-full text-xs font-bold bg-zinc-500 ring-1 ring-white opacity-90 text-white">低画質</span>
      {% endif %}
    </div>
    <div class="flex flex-col justify-between p-4 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700">
      <div class="flex justify-between mb-2">
        {% include "components/rating.html" with rating=item.rating.score %}
        {% if item.uncensored %}
          <span class="inline-flex items-center gap-x-1 text-xs font-medium text-red-600 dark:text-red-50">
            <svg class="shrink-0 size-3"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
              <path d="M12 9v4"></path>
              <path d="M12 17h.01"></path>
            </svg>
            Uncensored
          </span>
        {% else %}
          <span class="inline-flex items-center gap-x-1 text-xs font-medium text-sky-600 dark:text-sky-50">
            <svg class="shrink-0 size-3"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
              <path d="m9 12 2 2 4-4"></path>
            </svg>
            Censored
          </span>
        {% endif %}
      </div>
      <h3 class="text-slate-900 text-sm font-semibold mb-4 dark:text-white flex-1">{{ item.title }}</h3>
      <div class="text-slate-500 text-sm">
        {% if item.category %}
          <a href="{% url 'catalog:detail_category' str=item.category %}"
             class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{ item.category }}</a>
        {% endif %}
        {% for tag in item.tags.all %}
          <a href="{% url 'catalog:detail_tag' str=tag.name %}"
             class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
  </a>
</div>
